# 주차장 정보 데이터 확인 및 전처리 후 DB 저장

In [19]:
import pandas as pd
import pymysql
pd.set_option('display.max_columns', None)

In [13]:
gov_parking = pd.read_csv("ori_file/대구광역시 북구_공영주차장 운영 현황 및 현장 정보_20211123.csv", encoding="cp949")
gov_parking.head(2)

,순번,주차장관리번호,주차장명,주차장 유형,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,평일운영시작시각,평일운영종료시각,토요일운영시작시각,토요일운영종료시각,공휴일운영시작시각,공유일운영종료시각,요금정보,주차기본시간,주차기본요금,추가단위시간,추가단위요금,1일주차권요금적용시간,1일주차권적용시간,월정기요금,결제방법,관리기관명,경도,위도
0,1,154-1-000001,3공단로25길인근,노상,대구광역시 북구 노원동3가 191-1,6,3,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,무료,0,0,0,0,0,0,0,0,대구광역시 북구청,35.897770,128.565410
1,2,154-1-000002,3공단로인근,노상,대구광역시 북구 노원동3가 14,329,3,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,무료,0,0,0,0,0,0,0,0,대구광역시청,35.899471,128.569853

In [14]:
public_parking = pd.read_csv("ori_file/대구광역시 북구_공유개방 주차장 현황_20211123.csv", encoding="cp949")
public_parking.head(2)

,순번,개방호수,주차장명,지번주소,면수,개방시간,약정시작일,약정종료일,경도,위도
0,1,4,성북초등학교,대구광역시 북구 서변동 861,33,"평일 : 18:00∼익일 07:00+토,일요일 : 전일 18:00~익일 07:00+...",2020-07-02,2022-07-01,35.889957,128.602590
1,2,5,대도교회,대구광역시 북구 산격동 1404-12,17,평일 : 24시간+토요일 : 00:00~18:00+공휴일 : 24시간+일요일 및 특...,2020-05-01,2022-04-30,35.933692,128.549839

In [15]:
road_parking = pd.read_csv("ori_file/대구광역시 북구_노상주차장 운영 현황 및 현장 정보_20211123.csv", encoding="cp949")
road_parking.head(2)

,순번,주차장관리번호,주차장명,주차장 유형,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,평일운영시작시각,평일운영종료시각,토요일운영시작시각,토요일운영종료시각,공휴일운영시작시각,공유일운영종료시각,요금정보,주차기본시간,주차기본요금,추가단위시간,추가단위요금,1일주차권요금적용시간,1일주차권적용시간,월정기요금,결제방법,관리기관명,경도,위도
0,1,154-1-000001,3공단로25길인근,노상,대구광역시 북구 노원동3가 191-1,6,3,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,무료,0,0,0,0,0,0,0,0,대구광역시 북구청,35.897770,128.565410
1,2,154-1-000002,3공단로인근,노상,대구광역시 북구 노원동3가 14,329,3,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,무료,0,0,0,0,0,0,0,0,대구광역시청,35.899471,128.569853

In [16]:
private_parking = pd.read_csv("ori_file/대구광역시 북구_민영주차장 운영 현황 및 현장정보_20211123.csv", encoding="cp949")
private_parking.head(2)

,순번,주차장관리번호,주차장명,주차장 유형,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,평일운영시작시각,평일운영종료시각,토요일운영시작시각,토요일운영종료시각,공휴일운영시작시각,공유일운영종료시각,요금정보,주차기본시간,주차기본요금,추가단위시간,추가단위요금,1일주차권요금적용시간,1일주차권적용시간,월정기요금,결제방법,관리기관명,경도,위도
0,1,154-4-000190,광양,노외,대구광역시 북구 노원동3가 892-1,25,2,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,유료,30,500,60,1000,0,5000,80000,현금,대구광역시 북구청,35.892206,128.567963
1,2,154-4-000191,구남,노외,대구광역시 북구 읍내동 1121-1,15,2,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,유료,30,1000,60,2000,0,10000,100000,현금,대구광역시 북구청,35.932928,128.550395

## 주차장 통합 데이터베이스 생성

* 주차장명 : name : VARCHAR(20)
* 주차장 유형 : kind : VARCHAR(10)
* 주차구획수(면수) : parking_num : INT UNSIGNED
* 요금정보 : fare : VARCHAR(10)
* 위도 : lat : FLOAT UNSIGNED
* 경도 : lng : FLOAT UNSIGNED

In [20]:
db = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password='aksen5466!',
    db='parking',
    charset='utf8'
)

cursor = db.cursor()

sql = """
    CREATE TABLE parking_site (
        id INT UNSIGNED NOT NULL AUTO_INCREMENT,
        name VARCHAR(20) NOT NULL,
        kind VARCHAR(10) NOT NULL,
        parking_num INT UNSIGNED NOT NULL,
        fare VARCHAR(10) NOT NULL,
        lat FLOAT NOT NULL,
        lng FLOAT NOT NULL,
        PRIMARY KEY(id));
"""

cursor.execute(sql)

db.commit()

db.close()

### gov_parking 데이터 확인, 전처리, DB에 입력

In [17]:
gov_parking.describe()

,순번,주차구획수,급지구분,주차기본시간,주차기본요금,추가단위시간,추가단위요금,1일주차권요금적용시간,1일주차권적용시간,월정기요금,경도,위도
count,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000
mean,115.000000,41.711790,2.013100,5.764192,117.903930,2.270742,60.698690,26.200873,1065.502183,6244.541485,35.902247,128.584189
std,66.250786,52.440316,0.691302,12.174042,271.259197,6.629021,180.839759,279.746084,5820.418335,20258.234808,0.021494,0.024414
min,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.874893,128.541259
25%,58.000000,12.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.888201,128.561074
50%,115.000000,27.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.894556,128.586992
75%,172.000000,48.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.920901,128.605925
max,229.000000,437.000000,3.000000,60.000000,1500.000000,60.000000,2000.000000,3000.000000,60000.000000,100000.000000,35.963635,128.625135

In [29]:
gov_parking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   순번           229 non-null    int64
 1   주차장관리번호      229 non-null    object
 2   주차장명         229 non-null    object
 3   주차장 유형       229 non-null    object
 4   소재지지번주소      229 non-null    object
 5   주차구획수        229 non-null    int64
 6   급지구분         229 non-null    int64
 7   부제시행구분       229 non-null    object
 8   운영요일         229 non-null    object
 9   평일운영시작시각     229 non-null    object
 10  평일운영종료시각     229 non-null    object
 11  토요일운영시작시각    229 non-null    object
 12  토요일운영종료시각    229 non-null    object
 13  공휴일운영시작시각    229 non-null    object
 14  공유일운영종료시각    229 non-null    object
 15  요금정보         229 non-null    object
 16  주차기본시간       229 non-null    int64
 17  주차기본요금       229 non-null    int64
 18  추가단위시간       229 non-null    int64
 19  추가단위요금       229 non-null    int64
 20  1일주차권요금적용시간  229 non-null    int64
 21  1일주차권적용시간    229 non-null    int64
 22  월정기요금        229 non-null    int64
 23  결제방법         229 non-null    object
 24  관리기관명        229 non-null    object
 25  경도           229 non-null    float64
 26  위도           229 non-null    float64
dtypes: float64(2), int64(10), object(15)
memory usage: 48.4+ KB

In [34]:
for num in range(229):
    sql = "INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('{0}', '{1}', {2}, '{3}', {4}, {5});".format(
        (gov_parking.loc[num, "주차장명"]),
        gov_parking.loc[num, "주차장 유형"],
        gov_parking.loc[num, "주차구획수"],
        gov_parking.loc[num, "요금정보"],
        gov_parking.loc[num, "경도"],
        gov_parking.loc[num, "위도"])
    print(sql)

INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('3공단로25길인근', '노상', 6, '무료', 35.89777007, 128.5654103);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('3공단로인근', '노상', 329, '무료', 35.89947054, 128.5698535);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('검단동로인근', '노상', 29, '무료', 35.9139494, 128.6251348);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로17길인근', '노상', 78, '무료', 35.8927398, 128.6127204);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로23길인근', '노상', 5, '무료', 35.892602, 128.6160212);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로27길인근', '노상', 8, '무료', 35.89380025, 128.6173543);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로5길인근', '노상', 33, '무료', 35.88474855, 128.6131925);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로7길인근', '노상', 19, '무료', 35.8858208, 128.6072941);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대북문건너', '노상', 46, '유료', 35.891244, 128.6062891);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경진로1길인근', '노상', 15, '무료', 35.8945826, 128.6188058);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경진로남1길인근', '노상', 17, '무료', 35.89378323, 128.616552);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경진로인근', '노상', 92, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성로34길인근', '노상', 9, '무료', 35.88013585, 128.5850979);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성로37길인근', '노상', 57, '무료', 35.8816737, 128.5874162);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성북로10길인근', '노상', 15, '무료', 35.8824546, 128.5826776);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성북로1인근', '노상', 65, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성북로2인근', '노상', 87, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관은동로32길인근', '노상', 27, '무료', 35.94592832, 128.5477642);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로13길인근', '노상', 43, '무료', 35.93854663, 128.5457736);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로31길인근', '노상', 6, '무료', 35.94531367, 128.546175);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로9길인근', '노상', 8, '무료', 35.93739551, 128.5452115);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로인근', '노상', 9, '무료', 35.94232272, 128.5478391);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로17길인근', '노상', 26, '무료', 35.94453219, 128.5436091);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로21길인근', '노상', 75, '무료', 35.94460696, 128.5450063);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로28길인근', '노상', 60, '무료', 35.9423983, 128.5469196);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로7길인근', '노상', 11, '무료', 35.9381848, 128.5429619);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로인근', '노상', 62, '무료', 35.9342516, 128.5457551);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로15길인근', '노상', 43, '무료', 35.93539165, 128.5497971);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로16길인근', '노상', 20, '무료', 35.9314973, 128.5491657);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로17길인근', '노상', 37, '무료', 35.93396329, 128.5507292);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로인근', '노상', 40, '무료', 35.93172976, 128.5639126);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노곡로인근', '노상', 20, '무료', 35.90536223, 128.5628498);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원네거리(북편)', '노상', 22, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원동로7길', '노상', 11, '무료', 35.89538603, 128.575828);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원동로인근(수성전기재료백화점)', '노상', 37, '유료', 35.89345536, 128.5762127);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로10길(대구산업-노원새마을금고)', '노상', 102, '유료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로10길인근', '노상', 3, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로17길인근', '노상', 37, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로25길인근', '노상', 41, '무료', 35.8951542, 128.5718172);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로40길인근', '노상', 12, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로9길인근', '노상', 58, '무료', 35.89447588, 128.5675754);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근1', '노상', 14, '유료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근2', '노상', 40, '유료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근3', '노상', 38, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근4', '노상', 41, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구역북편', '노상', 23, '무료', 35.87758404, 128.5962867);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로10길인근', '노상', 14, '무료', 35.8914535, 128.6038566);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로11길인근', '노상', 17, '무료', 35.8932259, 128.6044904);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로9길인근', '노상', 41, '무료', 35.89375613, 128.6030093);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로인근', '노상', 5, '무료', 35.8902659, 128.6010649);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대동로4길인근', '노상', 8, '무료', 35.89104648, 128.6059248);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대동로8길인근', '노상', 12, '무료', 35.89652368, 128.610032);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대동로9길인근', '노상', 13, '무료', 35.89720335, 128.6110785);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대불로5길인근', '노상', 14, '무료', 35.90263622, 128.6114859);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대천로7길인근', '노상', 7, '무료', 35.9403671, 128.5536665);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대천로9길인근', '노상', 28, '무료', 35.93916208, 128.5550213);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로15길인근', '노상', 3, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로17길인근', '노상', 8, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로23길인근', '노상', 2, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로25길인근', '노상', 19, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로9길인근', '노상', 10, '무료', 35.8911286, 128.6063731);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로인근', '노상', 33, '무료', 35.89285578, 128.6098518);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현남로8길인근', '노상', 15, '무료', 35.88180651, 128.6097638);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현남로9길인근', '노상', 14, '무료', 35.88180651, 128.6097638);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로10길인근', '노상', 5, '무료', 35.88260472, 128.6034237);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로13길인근', '노상', 14, '무료', 35.88659565, 128.6055917);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로19길인근', '노상', 80, '무료', 35.88629636, 128.6112825);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로21길인근', '노상', 30, '무료', 35.88388222, 128.6110091);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로3길인근', '노상', 9, '무료', 35.88713607, 128.6038791);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로9길인근', '노상', 38, '무료', 35.88909849, 128.6143217);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로서15길인근', '노상', 31, '무료', 35.88659565, 128.6055917);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로26길인근', '노상', 14, '무료', 35.90068702, 128.6066299);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로37길인근', '노상', 17, '무료', 35.9004714, 128.613574);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로50길인근', '노상', 10, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로53길인근', '노상', 37, '무료', 35.89461348, 128.6220753);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로55길인근', '노상', 10, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로57길인근', '노상', 39, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동암로7길인근', '노상', 47, '무료', 35.94597857, 128.5544706);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동천교인근', '노상', 19, '무료', 35.93168424, 128.5550631);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('백사벌네거리(남편)', '노상', 56, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('백사벌네거리(북편)', '노상', 23, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('복현로북2길인근', '노상', 14, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('북구청인근', '노상', 39, '유료', 35.88809698, 128.582742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('북부소방서뒤편', '노상', 24, '무료', 35.87750286, 128.5926647);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('북침산네거리(북편)', '노상', 16, '무료', 35.89347056, 128.5897599);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로10길인근', '노상', 10, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로13길인근', '노상', 3, '무료', 35.89722774, 128.6027042);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로19길인근', '노상', 7, '무료', 35.89104648, 128.6059248);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로8길인근', '노상', 15, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로9길인근', '노상', 24, '무료', 35.89493084, 128.6042043);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북로13길인근', '노상', 10, '무료', 35.89216791, 128.590725);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북로5길인근', '노상', 134, '무료', 35.89496634, 128.5880098);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북로9길인근', '노상', 39, '무료', 35.89145827, 128.5884047);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('시체육회앞', '노상', 59, '유료', 35.88301806, 128.5861564);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천교', '노상', 27, '유료', 35.87980685, 128.6023836);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천교고가도로밑', '노상', 46, '유료', 35.87512466, 128.608594);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천동로(대현동)', '노상', 11, '무료', 35.88441248, 128.6024075);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천동로146길인근', '노상', 12, '무료', 35.88441248, 128.6024075);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천동로148길인근', '노상', 15, '무료', 35.88441248, 128.6024075);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로10길인근', '노상', 16, '무료', 35.8944331, 128.6010214);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로14길인근', '노상', 10, '무료', 35.89700877, 128.6014397);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로28길인근', '노상', 4, '무료', 35.89104648, 128.6059248);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로32길인근', '노상', 34, '무료', 35.90140838, 128.6065689);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로인근', '노상', 15, '무료', 35.89179162, 128.5957289);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암로인근', '노상', 48, '무료', 35.89653618, 128.5950001);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('영송로인근', '노상', 8, '무료', 35.92990667, 128.5449716);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로10길인근', '노상', 13, '무료', 35.88989334, 128.5784575);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로1길인근', '노상', 12, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로1길인근(보성아파트)', '노상', 11, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로3길인근', '노상', 10, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로6길인근', '노상', 18, '무료', 35.88989334, 128.5784575);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로7길인근', '노상', 19, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로인근', '노상', 135, '유료', 35.89867951, 128.5788096);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로3길인근', '노상', 10, '무료', 35.88754215, 128.5781967);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로5길인근', '노상', 28, '무료', 35.88662726, 128.5810034);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로9길인근', '노상', 28, '무료', 35.88802114, 128.581656);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로인근(북구)', '노상', 25, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로19길인근', '노상', 25, '무료', 35.88623316, 128.580491);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로21길인근', '노상', 12, '무료', 35.88662726, 128.5810034);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로23길인근', '노상', 4, '무료', 35.88797474, 128.5800717);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로25길인근', '노상', 31, '무료', 35.88846132, 128.5819583);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('유통단지로21길인근', '노상', 42, '무료', 35.90868017, 128.6104761);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('중앙대로105길인근', '노상', 17, '무료', 35.88053131, 128.5944814);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('중앙대로118길인근', '노상', 19, '무료', 35.88338799, 128.5987608);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('지하철대구역인근', '노상', 9, '무료', 35.87604689, 128.599077);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('청운로인근', '노상', 7, '무료', 35.89059993, 128.5869916);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로105길인근', '노상', 75, '무료', 35.94402173, 128.5488151);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로75길인근', '노상', 15, '무료', 35.92943275, 128.5461208);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로77길인근', '노상', 73, '무료', 35.93092533, 128.5449343);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로80길인근', '노상', 30, '무료', 35.9303755, 128.5508483);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로86길인근', '노상', 39, '무료', 35.93325493, 128.5518879);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로91길인근', '노상', 17, '무료', 35.93709063, 128.5448659);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로인근', '노상', 56, '무료', 35.94506549, 128.5511611);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성공구상가앞', '노상', 8, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성교북편', '노상', 10, '무료', 35.87736564, 128.6056874);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성꽃시장', '노상', 23, '유료', 35.87664626, 128.5950555);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로16길인근', '노상', 61, '무료', 35.87750286, 128.5926647);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로2길인근', '노상', 71, '무료', 35.87815117, 128.5854598);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로31길인근', '노상', 6, '무료', 35.8773027, 128.5987311);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로인근(고성동)', '노상', 102, '무료', 35.8798762, 128.5828921);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성농협앞', '노상', 30, '유료', 35.8766329, 128.6035994);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성로17길인근', '노상', 32, '무료', 35.88175275, 128.5971708);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장고가도로밑', '노상', 76, '유료', 35.8843224, 128.6006014);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장광로', '노상', 37, '유료', 35.88022495, 128.601689);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장남편', '노상', 39, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장동편', '노상', 16, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장방범초소', '노상', 24, '유료', 35.87915714, 128.6025337);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장북편', '노상', 9, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장서편도로', '노상', 30, '유료', 35.87718878, 128.6014334);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성전자상가앞', '노상', 7, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산남로31길인근', '노상', 14, '무료', 35.88869225, 128.5929184);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산남로39길인근', '노상', 18, '무료', 35.8872637, 128.596993);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산남로9길인근', '노상', 10, '무료', 35.8938443, 128.5833779);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산로40길인근', '노상', 4, '무료', 35.89371938, 128.5900286);

In [35]:
db = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password='aksen5466!',
    db='parking',
    charset='utf8'
)

try:
    cursor = db.cursor()

    for num in range(229):
        sql = "INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('{0}', '{1}', {2}, '{3}', {4}, {5});".format(
            gov_parking.loc[num, "주차장명"],
            gov_parking.loc[num, "주차장 유형"],
            gov_parking.loc[num, "주차구획수"],
            gov_parking.loc[num, "요금정보"],
            gov_parking.loc[num, "경도"],
            gov_parking.loc[num, "위도"])
        print(sql)
        cursor.execute(sql)

    db.commit()
finally:
    db.close()

INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('3공단로25길인근', '노상', 6, '무료', 35.89777007, 128.5654103);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('3공단로인근', '노상', 329, '무료', 35.89947054, 128.5698535);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('검단동로인근', '노상', 29, '무료', 35.9139494, 128.6251348);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로17길인근', '노상', 78, '무료', 35.8927398, 128.6127204);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로23길인근', '노상', 5, '무료', 35.892602, 128.6160212);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로27길인근', '노상', 8, '무료', 35.89380025, 128.6173543);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로5길인근', '노상', 33, '무료', 35.88474855, 128.6131925);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로7길인근', '노상', 19, '무료', 35.8858208, 128.6072941);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대북문건너', '노상', 46, '유료', 35.891244, 128.6062891);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경진로1길인근', '노상', 15, '무료', 35.8945826, 128.6188058);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경진로남1길인근', '노상', 17, '무료', 35.89378323, 128.616552);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경진로인근', '노상', 92, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성로34길인근', '노상', 9, '무료', 35.88013585, 128.5850979);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성로37길인근', '노상', 57, '무료', 35.8816737, 128.5874162);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성북로10길인근', '노상', 15, '무료', 35.8824546, 128.5826776);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성북로1인근', '노상', 65, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성북로2인근', '노상', 87, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관은동로32길인근', '노상', 27, '무료', 35.94592832, 128.5477642);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로13길인근', '노상', 43, '무료', 35.93854663, 128.5457736);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로31길인근', '노상', 6, '무료', 35.94531367, 128.546175);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로9길인근', '노상', 8, '무료', 35.93739551, 128.5452115);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로인근', '노상', 9, '무료', 35.94232272, 128.5478391);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로17길인근', '노상', 26, '무료', 35.94453219, 128.5436091);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로21길인근', '노상', 75, '무료', 35.94460696, 128.5450063);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로28길인근', '노상', 60, '무료', 35.9423983, 128.5469196);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로7길인근', '노상', 11, '무료', 35.9381848, 128.5429619);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로인근', '노상', 62, '무료', 35.9342516, 128.5457551);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로15길인근', '노상', 43, '무료', 35.93539165, 128.5497971);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로16길인근', '노상', 20, '무료', 35.9314973, 128.5491657);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로17길인근', '노상', 37, '무료', 35.93396329, 128.5507292);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로인근', '노상', 40, '무료', 35.93172976, 128.5639126);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노곡로인근', '노상', 20, '무료', 35.90536223, 128.5628498);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원네거리(북편)', '노상', 22, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원동로7길', '노상', 11, '무료', 35.89538603, 128.575828);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원동로인근(수성전기재료백화점)', '노상', 37, '유료', 35.89345536, 128.5762127);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로10길(대구산업-노원새마을금고)', '노상', 102, '유료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로10길인근', '노상', 3, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로17길인근', '노상', 37, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로25길인근', '노상', 41, '무료', 35.8951542, 128.5718172);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로40길인근', '노상', 12, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로9길인근', '노상', 58, '무료', 35.89447588, 128.5675754);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근1', '노상', 14, '유료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근2', '노상', 40, '유료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근3', '노상', 38, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근4', '노상', 41, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구역북편', '노상', 23, '무료', 35.87758404, 128.5962867);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로10길인근', '노상', 14, '무료', 35.8914535, 128.6038566);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로11길인근', '노상', 17, '무료', 35.8932259, 128.6044904);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로9길인근', '노상', 41, '무료', 35.89375613, 128.6030093);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로인근', '노상', 5, '무료', 35.8902659, 128.6010649);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대동로4길인근', '노상', 8, '무료', 35.89104648, 128.6059248);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대동로8길인근', '노상', 12, '무료', 35.89652368, 128.610032);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대동로9길인근', '노상', 13, '무료', 35.89720335, 128.6110785);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대불로5길인근', '노상', 14, '무료', 35.90263622, 128.6114859);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대천로7길인근', '노상', 7, '무료', 35.9403671, 128.5536665);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대천로9길인근', '노상', 28, '무료', 35.93916208, 128.5550213);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로15길인근', '노상', 3, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로17길인근', '노상', 8, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로23길인근', '노상', 2, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로25길인근', '노상', 19, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로9길인근', '노상', 10, '무료', 35.8911286, 128.6063731);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로인근', '노상', 33, '무료', 35.89285578, 128.6098518);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현남로8길인근', '노상', 15, '무료', 35.88180651, 128.6097638);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현남로9길인근', '노상', 14, '무료', 35.88180651, 128.6097638);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로10길인근', '노상', 5, '무료', 35.88260472, 128.6034237);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로13길인근', '노상', 14, '무료', 35.88659565, 128.6055917);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로19길인근', '노상', 80, '무료', 35.88629636, 128.6112825);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로21길인근', '노상', 30, '무료', 35.88388222, 128.6110091);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로3길인근', '노상', 9, '무료', 35.88713607, 128.6038791);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로9길인근', '노상', 38, '무료', 35.88909849, 128.6143217);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로서15길인근', '노상', 31, '무료', 35.88659565, 128.6055917);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로26길인근', '노상', 14, '무료', 35.90068702, 128.6066299);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로37길인근', '노상', 17, '무료', 35.9004714, 128.613574);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로50길인근', '노상', 10, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로53길인근', '노상', 37, '무료', 35.89461348, 128.6220753);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로55길인근', '노상', 10, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로57길인근', '노상', 39, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동암로7길인근', '노상', 47, '무료', 35.94597857, 128.5544706);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동천교인근', '노상', 19, '무료', 35.93168424, 128.5550631);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('백사벌네거리(남편)', '노상', 56, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('백사벌네거리(북편)', '노상', 23, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('복현로북2길인근', '노상', 14, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('북구청인근', '노상', 39, '유료', 35.88809698, 128.582742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('북부소방서뒤편', '노상', 24, '무료', 35.87750286, 128.5926647);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('북침산네거리(북편)', '노상', 16, '무료', 35.89347056, 128.5897599);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로10길인근', '노상', 10, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로13길인근', '노상', 3, '무료', 35.89722774, 128.6027042);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로19길인근', '노상', 7, '무료', 35.89104648, 128.6059248);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로8길인근', '노상', 15, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로9길인근', '노상', 24, '무료', 35.89493084, 128.6042043);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북로13길인근', '노상', 10, '무료', 35.89216791, 128.590725);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북로5길인근', '노상', 134, '무료', 35.89496634, 128.5880098);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북로9길인근', '노상', 39, '무료', 35.89145827, 128.5884047);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('시체육회앞', '노상', 59, '유료', 35.88301806, 128.5861564);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천교', '노상', 27, '유료', 35.87980685, 128.6023836);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천교고가도로밑', '노상', 46, '유료', 35.87512466, 128.608594);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천동로(대현동)', '노상', 11, '무료', 35.88441248, 128.6024075);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천동로146길인근', '노상', 12, '무료', 35.88441248, 128.6024075);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천동로148길인근', '노상', 15, '무료', 35.88441248, 128.6024075);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로10길인근', '노상', 16, '무료', 35.8944331, 128.6010214);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로14길인근', '노상', 10, '무료', 35.89700877, 128.6014397);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로28길인근', '노상', 4, '무료', 35.89104648, 128.6059248);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로32길인근', '노상', 34, '무료', 35.90140838, 128.6065689);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로인근', '노상', 15, '무료', 35.89179162, 128.5957289);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암로인근', '노상', 48, '무료', 35.89653618, 128.5950001);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('영송로인근', '노상', 8, '무료', 35.92990667, 128.5449716);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로10길인근', '노상', 13, '무료', 35.88989334, 128.5784575);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로1길인근', '노상', 12, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로1길인근(보성아파트)', '노상', 11, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로3길인근', '노상', 10, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로6길인근', '노상', 18, '무료', 35.88989334, 128.5784575);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로7길인근', '노상', 19, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로인근', '노상', 135, '유료', 35.89867951, 128.5788096);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로3길인근', '노상', 10, '무료', 35.88754215, 128.5781967);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로5길인근', '노상', 28, '무료', 35.88662726, 128.5810034);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로9길인근', '노상', 28, '무료', 35.88802114, 128.581656);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로인근(북구)', '노상', 25, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로19길인근', '노상', 25, '무료', 35.88623316, 128.580491);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로21길인근', '노상', 12, '무료', 35.88662726, 128.5810034);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로23길인근', '노상', 4, '무료', 35.88797474, 128.5800717);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로25길인근', '노상', 31, '무료', 35.88846132, 128.5819583);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('유통단지로21길인근', '노상', 42, '무료', 35.90868017, 128.6104761);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('중앙대로105길인근', '노상', 17, '무료', 35.88053131, 128.5944814);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('중앙대로118길인근', '노상', 19, '무료', 35.88338799, 128.5987608);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('지하철대구역인근', '노상', 9, '무료', 35.87604689, 128.599077);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('청운로인근', '노상', 7, '무료', 35.89059993, 128.5869916);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로105길인근', '노상', 75, '무료', 35.94402173, 128.5488151);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로75길인근', '노상', 15, '무료', 35.92943275, 128.5461208);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로77길인근', '노상', 73, '무료', 35.93092533, 128.5449343);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로80길인근', '노상', 30, '무료', 35.9303755, 128.5508483);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로86길인근', '노상', 39, '무료', 35.93325493, 128.5518879);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로91길인근', '노상', 17, '무료', 35.93709063, 128.5448659);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로인근', '노상', 56, '무료', 35.94506549, 128.5511611);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성공구상가앞', '노상', 8, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성교북편', '노상', 10, '무료', 35.87736564, 128.6056874);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성꽃시장', '노상', 23, '유료', 35.87664626, 128.5950555);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로16길인근', '노상', 61, '무료', 35.87750286, 128.5926647);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로2길인근', '노상', 71, '무료', 35.87815117, 128.5854598);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로31길인근', '노상', 6, '무료', 35.8773027, 128.5987311);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로인근(고성동)', '노상', 102, '무료', 35.8798762, 128.5828921);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성농협앞', '노상', 30, '유료', 35.8766329, 128.6035994);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성로17길인근', '노상', 32, '무료', 35.88175275, 128.5971708);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장고가도로밑', '노상', 76, '유료', 35.8843224, 128.6006014);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장광로', '노상', 37, '유료', 35.88022495, 128.601689);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장남편', '노상', 39, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장동편', '노상', 16, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장방범초소', '노상', 24, '유료', 35.87915714, 128.6025337);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장북편', '노상', 9, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장서편도로', '노상', 30, '유료', 35.87718878, 128.6014334);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성전자상가앞', '노상', 7, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산남로31길인근', '노상', 14, '무료', 35.88869225, 128.5929184);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산남로39길인근', '노상', 18, '무료', 35.8872637, 128.596993);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산남로9길인근', '노상', 10, '무료', 35.8938443, 128.5833779);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산로40길인근', '노상', 4, '무료', 35.89371938, 128.5900286);

### public_parking 데이터 확인, 전처리, DB에 입력

In [47]:
public_parking.describe()

             순번      개방호수         면수         경도          위도
count  5.000000  5.000000   5.000000   5.000000    5.000000
mean   3.000000  6.000000  32.000000  35.921616  128.577989
std    1.581139  1.581139  10.099505   0.020131    0.027802
min    1.000000  4.000000  17.000000  35.889957  128.545678
25%    2.000000  5.000000  30.000000  35.916159  128.549839
50%    3.000000  6.000000  33.000000  35.926087  128.594029
75%    4.000000  7.000000  35.000000  35.933692  128.597808
max    5.000000  8.000000  45.000000  35.942186  128.602590

In [37]:
public_parking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순번      5 non-null      int64
 1   개방호수    5 non-null      int64
 2   주차장명    5 non-null      object
 3   지번주소    5 non-null      object
 4   면수      5 non-null      int64
 5   개방시간    5 non-null      object
 6   약정시작일   5 non-null      object
 7   약정종료일   5 non-null      object
 8   경도      5 non-null      float64
 9   위도      5 non-null      float64
dtypes: float64(2), int64(3), object(5)
memory usage: 528.0+ bytes

In [39]:
# "주차장 유형" 컬럼추가
public_parking["주차장 유형"] = "공유"

In [41]:
# "요금정보" 컬럼추가
public_parking["요금정보"] = "무료"

In [44]:
for num in range(5):
    sql = "INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('{0}', '{1}', {2}, '{3}', {4}, {5});".format(
        (public_parking.loc[num, "주차장명"]),
        public_parking.loc[num, "주차장 유형"],
        public_parking.loc[num, "면수"],
        public_parking.loc[num, "요금정보"],
        public_parking.loc[num, "경도"],
        public_parking.loc[num, "위도"])
    print(sql)

INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북초등학교', '공유', 33, '무료', 35.889957, 128.60259);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대도교회', '공유', 17, '무료', 35.93369151, 128.5498392);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구칠곡중앙교회', '공유', 45, '무료', 35.92608727, 128.5940287);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('소망교회', '공유', 30, '무료', 35.94218611, 128.5456776);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('무태성당', '공유', 35, '무료', 35.91615863, 128.5978084);

In [46]:
db = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password='aksen5466!',
    db='parking',
    charset='utf8'
)

try:
    cursor = db.cursor()

    for num in range(5):
        sql = "INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('{0}', '{1}', {2}, '{3}', {4}, {5});".format(
            (public_parking.loc[num, "주차장명"]),
            public_parking.loc[num, "주차장 유형"],
            public_parking.loc[num, "면수"],
            public_parking.loc[num, "요금정보"],
            public_parking.loc[num, "경도"],
            public_parking.loc[num, "위도"])
        print(sql)
        cursor.execute(sql)

    db.commit()
finally:
    db.close()

INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북초등학교', '공유', 33, '무료', 35.889957, 128.60259);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대도교회', '공유', 17, '무료', 35.93369151, 128.5498392);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구칠곡중앙교회', '공유', 45, '무료', 35.92608727, 128.5940287);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('소망교회', '공유', 30, '무료', 35.94218611, 128.5456776);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('무태성당', '공유', 35, '무료', 35.91615863, 128.5978084);

### road_parking 데이터 확인, 전처리, DB에 입력

In [48]:
road_parking.describe()

,순번,주차구획수,급지구분,주차기본시간,주차기본요금,추가단위시간,추가단위요금,1일주차권요금적용시간,1일주차권적용시간,월정기요금,경도,위도
count,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.0,179.000000,179.000000,179.000000,179.000000
mean,90.000000,31.122905,1.893855,4.189944,81.005587,1.396648,40.502793,0.0,245.810056,3519.553073,35.899399,128.584100
std,51.816986,33.339697,0.640327,10.428338,210.875902,3.476113,105.437951,0.0,1173.643988,15080.808841,0.020230,0.023839
min,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,35.874893,128.543012
25%,45.500000,11.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,35.886627,128.561074
50%,90.000000,23.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,35.892856,128.586568
75%,134.500000,39.500000,2.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,35.901048,128.605592
max,179.000000,329.000000,3.000000,30.000000,1000.000000,10.000000,500.000000,0.0,10000.000000,100000.000000,35.945979,128.625135

In [49]:
road_parking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   순번           179 non-null    int64
 1   주차장관리번호      179 non-null    object
 2   주차장명         179 non-null    object
 3   주차장 유형       179 non-null    object
 4   소재지지번주소      179 non-null    object
 5   주차구획수        179 non-null    int64
 6   급지구분         179 non-null    int64
 7   부제시행구분       179 non-null    object
 8   운영요일         179 non-null    object
 9   평일운영시작시각     179 non-null    object
 10  평일운영종료시각     179 non-null    object
 11  토요일운영시작시각    179 non-null    object
 12  토요일운영종료시각    179 non-null    object
 13  공휴일운영시작시각    179 non-null    object
 14  공유일운영종료시각    179 non-null    object
 15  요금정보         179 non-null    object
 16  주차기본시간       179 non-null    int64
 17  주차기본요금       179 non-null    int64
 18  추가단위시간       179 non-null    int64
 19  추가단위요금       179 non-null    int64
 20  1일주차권요금적용시간  179 non-null    int64
 21  1일주차권적용시간    179 non-null    int64
 22  월정기요금        179 non-null    int64
 23  결제방법         179 non-null    object
 24  관리기관명        179 non-null    object
 25  경도           179 non-null    float64
 26  위도           179 non-null    float64
dtypes: float64(2), int64(10), object(15)
memory usage: 37.9+ KB

In [50]:
road_parking.head()

,순번,주차장관리번호,주차장명,주차장 유형,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,평일운영시작시각,평일운영종료시각,토요일운영시작시각,토요일운영종료시각,공휴일운영시작시각,공유일운영종료시각,요금정보,주차기본시간,주차기본요금,추가단위시간,추가단위요금,1일주차권요금적용시간,1일주차권적용시간,월정기요금,결제방법,관리기관명,경도,위도
0,1,154-1-000001,3공단로25길인근,노상,대구광역시 북구 노원동3가 191-1,6,3,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,무료,0,0,0,0,0,0,0,0,대구광역시 북구청,35.897770,128.565410
1,2,154-1-000002,3공단로인근,노상,대구광역시 북구 노원동3가 14,329,3,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,무료,0,0,0,0,0,0,0,0,대구광역시청,35.899471,128.569853
2,3,154-1-000003,검단동로인근,노상,대구광역시 북구 검단동 745-2,29,3,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,무료,0,0,0,0,0,0,0,0,대구광역시 북구청,35.913949,128.625135
3,4,154-1-000004,경대로17길인근,노상,대구광역시 북구 복현동 573,78,2,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,무료,0,0,0,0,0,0,0,0,대구광역시 북구청,35.889011,128.614322
4,5,154-1-000005,경대로23길인근,노상,대구광역시 북구 복현동 606-34,5,2,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,무료,0,0,0,0,0,0,0,0,대구광역시 북구청,35.892635,128.616028

In [51]:
for num in range(179):
    sql = "INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('{0}', '{1}', {2}, '{3}', {4}, {5});".format(
        (road_parking.loc[num, "주차장명"]),
        road_parking.loc[num, "주차장 유형"],
        road_parking.loc[num, "주차구획수"],
        road_parking.loc[num, "요금정보"],
        road_parking.loc[num, "경도"],
        road_parking.loc[num, "위도"])
    print(sql)

INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('3공단로25길인근', '노상', 6, '무료', 35.89777007, 128.5654103);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('3공단로인근', '노상', 329, '무료', 35.89947054, 128.5698535);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('검단동로인근', '노상', 29, '무료', 35.9139494, 128.6251348);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로17길인근', '노상', 78, '무료', 35.88901082, 128.6143217);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로23길인근', '노상', 5, '무료', 35.89263537, 128.6160279);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로27길인근', '노상', 8, '무료', 35.89380025, 128.6173543);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로5길인근', '노상', 33, '무료', 35.88474855, 128.6131925);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로7길인근', '노상', 19, '무료', 35.88659565, 128.6055917);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대북문건너', '노상', 46, '유료', 35.891244, 128.6062891);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경진로1길인근', '노상', 15, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경진로남1길인근', '노상', 17, '무료', 35.89378323, 128.616552);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경진로인근', '노상', 92, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성로34길인근', '노상', 9, '무료', 35.88013585, 128.5850979);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성로37길인근', '노상', 57, '무료', 35.88301806, 128.5861564);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성북로10길인근', '노상', 15, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성북로1인근', '노상', 65, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성북로2인근', '노상', 87, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관은동로32길인근', '노상', 27, '무료', 35.94592832, 128.5477642);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로13길인근', '노상', 43, '무료', 35.93854663, 128.5457736);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로31길인근', '노상', 6, '무료', 35.94531367, 128.546175);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로9길인근', '노상', 8, '무료', 35.93739551, 128.5452115);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로인근', '노상', 9, '무료', 35.94232272, 128.5478391);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로17길인근', '노상', 26, '무료', 35.94453219, 128.5436091);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로21길인근', '노상', 75, '무료', 35.94460696, 128.5450063);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로28길인근', '노상', 60, '무료', 35.94229097, 128.5468967);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로7길인근', '노상', 11, '무료', 35.93823471, 128.5430117);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로인근', '노상', 62, '무료', 35.93461702, 128.5457465);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로15길인근', '노상', 43, '무료', 35.93539165, 128.5497971);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로16길인근', '노상', 20, '무료', 35.9320619, 128.5491495);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로17길인근', '노상', 37, '무료', 35.93396329, 128.5507292);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로인근', '노상', 40, '무료', 35.93172976, 128.5639126);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노곡로인근', '노상', 20, '무료', 35.90536223, 128.5628498);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원네거리(북편)', '노상', 22, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원동로7길', '노상', 11, '무료', 35.89538603, 128.575828);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원동로인근(수성전기재료백화점)', '노상', 37, '유료', 35.89345536, 128.5762127);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로10길(대구산업-노원새마을금고)', '노상', 102, '유료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로10길인근', '노상', 3, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로17길인근', '노상', 37, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로25길인근', '노상', 41, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로40길인근', '노상', 12, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로9길인근', '노상', 58, '무료', 35.89447588, 128.5675754);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근1', '노상', 14, '유료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근2', '노상', 40, '유료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근3', '노상', 38, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근4', '노상', 41, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구역북편', '노상', 23, '무료', 35.87758404, 128.5962867);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로10길인근', '노상', 14, '무료', 35.8914535, 128.6038566);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로11길인근', '노상', 17, '무료', 35.8932259, 128.6044904);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로9길인근', '노상', 41, '무료', 35.89375613, 128.6030093);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로인근', '노상', 5, '무료', 35.88984739, 128.6006211);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대동로4길인근', '노상', 8, '무료', 35.89104648, 128.6059248);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대동로8길인근', '노상', 12, '무료', 35.89652368, 128.610032);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대동로9길인근', '노상', 13, '무료', 35.89720335, 128.6110785);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대불로5길인근', '노상', 14, '무료', 35.90263622, 128.6114859);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대천로7길인근', '노상', 7, '무료', 35.9403671, 128.5536665);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대천로9길인근', '노상', 28, '무료', 35.93916208, 128.5550213);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로15길인근', '노상', 3, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로17길인근', '노상', 8, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로23길인근', '노상', 2, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로25길인근', '노상', 19, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로9길인근', '노상', 10, '무료', 35.89114355, 128.6063354);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로인근', '노상', 33, '무료', 35.89285578, 128.6098518);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현남로8길인근', '노상', 15, '무료', 35.88180651, 128.6097638);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현남로9길인근', '노상', 14, '무료', 35.88180651, 128.6097638);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로10길인근', '노상', 5, '무료', 35.88260472, 128.6034237);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로13길인근', '노상', 14, '무료', 35.88659565, 128.6055917);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로19길인근', '노상', 80, '무료', 35.88629636, 128.6112825);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로21길인근', '노상', 30, '무료', 35.88388222, 128.6110091);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로3길인근', '노상', 9, '무료', 35.88713607, 128.6038791);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로9길인근', '노상', 38, '무료', 35.88909849, 128.6143217);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로서15길인근', '노상', 31, '무료', 35.88659565, 128.6055917);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로26길인근', '노상', 14, '무료', 35.90068702, 128.6066299);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로37길인근', '노상', 17, '무료', 35.9004714, 128.613574);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로50길인근', '노상', 10, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로53길인근', '노상', 37, '무료', 35.89461348, 128.6220753);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로55길인근', '노상', 10, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로57길인근', '노상', 39, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동암로7길인근', '노상', 47, '무료', 35.94597857, 128.5544706);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동천교인근', '노상', 19, '무료', 35.93168424, 128.5550631);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('백사벌네거리(남편)', '노상', 56, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('백사벌네거리(북편)', '노상', 23, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('복현로북2길인근', '노상', 14, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('북구청인근', '노상', 39, '유료', 35.88809698, 128.582742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('북부소방서뒤편', '노상', 24, '무료', 35.87750286, 128.5926647);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('북침산네거리(북편)', '노상', 16, '무료', 35.89347056, 128.5897599);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로10길인근', '노상', 10, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로13길인근', '노상', 3, '무료', 35.89722774, 128.6027042);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로19길인근', '노상', 7, '무료', 35.89104648, 128.6059248);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로8길인근', '노상', 15, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로9길인근', '노상', 24, '무료', 35.89493084, 128.6042043);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북로13길인근', '노상', 10, '무료', 35.89216791, 128.590725);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북로5길인근', '노상', 134, '무료', 35.89496634, 128.5880098);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북로9길인근', '노상', 39, '무료', 35.89145827, 128.5884047);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('시체육회앞', '노상', 59, '유료', 35.88301806, 128.5861564);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천교', '노상', 27, '유료', 35.87980685, 128.6023836);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천교고가도로밑', '노상', 46, '유료', 35.87512466, 128.608594);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천동로(대현동)', '노상', 11, '무료', 35.88441248, 128.6024075);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천동로146길인근', '노상', 12, '무료', 35.88441248, 128.6024075);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천동로148길인근', '노상', 15, '무료', 35.88441248, 128.6024075);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로10길인근', '노상', 16, '무료', 35.8944331, 128.6010214);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로14길인근', '노상', 10, '무료', 35.89700877, 128.6014397);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로28길인근', '노상', 4, '무료', 35.89104648, 128.6059248);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로32길인근', '노상', 34, '무료', 35.90140838, 128.6065689);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로인근', '노상', 15, '무료', 35.89179162, 128.5957289);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암로인근', '노상', 48, '무료', 35.89653618, 128.5950001);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('영송로인근', '노상', 8, '무료', 35.92990667, 128.5449716);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로10길인근', '노상', 13, '무료', 35.88989334, 128.5784575);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로1길인근', '노상', 12, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로1길인근(보성아파트)', '노상', 11, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로3길인근', '노상', 10, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로6길인근', '노상', 18, '무료', 35.88989334, 128.5784575);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로7길인근', '노상', 19, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로인근', '노상', 135, '유료', 35.89867951, 128.5788096);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로3길인근', '노상', 10, '무료', 35.88754215, 128.5781967);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로5길인근', '노상', 28, '무료', 35.88662726, 128.5810034);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로9길인근', '노상', 28, '무료', 35.88802114, 128.581656);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로인근(북구)', '노상', 25, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로19길인근', '노상', 25, '무료', 35.88623316, 128.580491);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로21길인근', '노상', 12, '무료', 35.88662726, 128.5810034);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로23길인근', '노상', 4, '무료', 35.88797474, 128.5800717);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로25길인근', '노상', 31, '무료', 35.88846132, 128.5819583);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('유통단지로21길인근', '노상', 42, '무료', 35.90868017, 128.6104761);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('중앙대로105길인근', '노상', 17, '무료', 35.88053131, 128.5944814);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('중앙대로118길인근', '노상', 19, '무료', 35.88338799, 128.5987608);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('지하철대구역인근', '노상', 9, '무료', 35.87604689, 128.599077);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('청운로인근', '노상', 7, '무료', 35.89059993, 128.5869916);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로105길인근', '노상', 75, '무료', 35.94402173, 128.5488151);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로75길인근', '노상', 15, '무료', 35.92943275, 128.5461208);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로77길인근', '노상', 73, '무료', 35.93092533, 128.5449343);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로80길인근', '노상', 30, '무료', 35.9303755, 128.5508483);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로86길인근', '노상', 39, '무료', 35.93325493, 128.5518879);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로91길인근', '노상', 17, '무료', 35.93709063, 128.5448659);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로인근', '노상', 56, '무료', 35.94506549, 128.5511611);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성공구상가앞', '노상', 8, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성교북편', '노상', 10, '무료', 35.87736564, 128.6056874);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성꽃시장', '노상', 23, '유료', 35.87664626, 128.5950555);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로16길인근', '노상', 61, '무료', 35.87750286, 128.5926647);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로2길인근', '노상', 71, '무료', 35.87815117, 128.5854598);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로31길인근', '노상', 6, '무료', 35.8773027, 128.5987311);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로인근(고성동)', '노상', 102, '무료', 35.8798762, 128.5828921);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성농협앞', '노상', 30, '유료', 35.8766329, 128.6035994);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성로17길인근', '노상', 32, '무료', 35.88175275, 128.5971708);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장고가도로밑', '노상', 76, '유료', 35.8843224, 128.6006014);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장광로', '노상', 37, '유료', 35.88022495, 128.601689);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장남편', '노상', 39, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장동편', '노상', 16, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장방범초소', '노상', 24, '유료', 35.87915714, 128.6025337);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장북편', '노상', 9, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장서편도로', '노상', 30, '유료', 35.87718878, 128.6014334);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성전자상가앞', '노상', 7, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산남로31길인근', '노상', 14, '무료', 35.88869225, 128.5929184);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산남로39길인근', '노상', 18, '무료', 35.8872637, 128.596993);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산남로9길인근', '노상', 10, '무료', 35.8938443, 128.5833779);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산로40길인근', '노상', 4, '무료', 35.89371938, 128.5900286);

In [52]:
db = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password='aksen5466!',
    db='parking',
    charset='utf8'
)

try:
    cursor = db.cursor()

    for num in range(179):
        sql = "INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('{0}', '{1}', {2}, '{3}', {4}, {5});".format(
            (road_parking.loc[num, "주차장명"]),
            road_parking.loc[num, "주차장 유형"],
            road_parking.loc[num, "주차구획수"],
            road_parking.loc[num, "요금정보"],
            road_parking.loc[num, "경도"],
            road_parking.loc[num, "위도"])
        print(sql)
        cursor.execute(sql)

    db.commit()
finally:
    db.close()

INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('3공단로25길인근', '노상', 6, '무료', 35.89777007, 128.5654103);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('3공단로인근', '노상', 329, '무료', 35.89947054, 128.5698535);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('검단동로인근', '노상', 29, '무료', 35.9139494, 128.6251348);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로17길인근', '노상', 78, '무료', 35.88901082, 128.6143217);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로23길인근', '노상', 5, '무료', 35.89263537, 128.6160279);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로27길인근', '노상', 8, '무료', 35.89380025, 128.6173543);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로5길인근', '노상', 33, '무료', 35.88474855, 128.6131925);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대로7길인근', '노상', 19, '무료', 35.88659565, 128.6055917);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경대북문건너', '노상', 46, '유료', 35.891244, 128.6062891);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경진로1길인근', '노상', 15, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경진로남1길인근', '노상', 17, '무료', 35.89378323, 128.616552);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('경진로인근', '노상', 92, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성로34길인근', '노상', 9, '무료', 35.88013585, 128.5850979);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성로37길인근', '노상', 57, '무료', 35.88301806, 128.5861564);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성북로10길인근', '노상', 15, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성북로1인근', '노상', 65, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('고성북로2인근', '노상', 87, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관은동로32길인근', '노상', 27, '무료', 35.94592832, 128.5477642);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로13길인근', '노상', 43, '무료', 35.93854663, 128.5457736);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로31길인근', '노상', 6, '무료', 35.94531367, 128.546175);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로9길인근', '노상', 8, '무료', 35.93739551, 128.5452115);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음동로인근', '노상', 9, '무료', 35.94232272, 128.5478391);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로17길인근', '노상', 26, '무료', 35.94453219, 128.5436091);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로21길인근', '노상', 75, '무료', 35.94460696, 128.5450063);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로28길인근', '노상', 60, '무료', 35.94229097, 128.5468967);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로7길인근', '노상', 11, '무료', 35.93823471, 128.5430117);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('관음중앙로인근', '노상', 62, '무료', 35.93461702, 128.5457465);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로15길인근', '노상', 43, '무료', 35.93539165, 128.5497971);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로16길인근', '노상', 20, '무료', 35.9320619, 128.5491495);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로17길인근', '노상', 37, '무료', 35.93396329, 128.5507292);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구암로인근', '노상', 40, '무료', 35.93172976, 128.5639126);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노곡로인근', '노상', 20, '무료', 35.90536223, 128.5628498);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원네거리(북편)', '노상', 22, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원동로7길', '노상', 11, '무료', 35.89538603, 128.575828);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원동로인근(수성전기재료백화점)', '노상', 37, '유료', 35.89345536, 128.5762127);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로10길(대구산업-노원새마을금고)', '노상', 102, '유료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로10길인근', '노상', 3, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로17길인근', '노상', 37, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로25길인근', '노상', 41, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로40길인근', '노상', 12, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로9길인근', '노상', 58, '무료', 35.89447588, 128.5675754);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근1', '노상', 14, '유료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근2', '노상', 40, '유료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근3', '노상', 38, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('노원로인근4', '노상', 41, '무료', 35.8898311, 128.5610742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구역북편', '노상', 23, '무료', 35.87758404, 128.5962867);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로10길인근', '노상', 14, '무료', 35.8914535, 128.6038566);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로11길인근', '노상', 17, '무료', 35.8932259, 128.6044904);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로9길인근', '노상', 41, '무료', 35.89375613, 128.6030093);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대구체육관로인근', '노상', 5, '무료', 35.88984739, 128.6006211);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대동로4길인근', '노상', 8, '무료', 35.89104648, 128.6059248);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대동로8길인근', '노상', 12, '무료', 35.89652368, 128.610032);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대동로9길인근', '노상', 13, '무료', 35.89720335, 128.6110785);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대불로5길인근', '노상', 14, '무료', 35.90263622, 128.6114859);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대천로7길인근', '노상', 7, '무료', 35.9403671, 128.5536665);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대천로9길인근', '노상', 28, '무료', 35.93916208, 128.5550213);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로15길인근', '노상', 3, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로17길인근', '노상', 8, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로23길인근', '노상', 2, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로25길인근', '노상', 19, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로9길인근', '노상', 10, '무료', 35.89114355, 128.6063354);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대학로인근', '노상', 33, '무료', 35.89285578, 128.6098518);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현남로8길인근', '노상', 15, '무료', 35.88180651, 128.6097638);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현남로9길인근', '노상', 14, '무료', 35.88180651, 128.6097638);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로10길인근', '노상', 5, '무료', 35.88260472, 128.6034237);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로13길인근', '노상', 14, '무료', 35.88659565, 128.6055917);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로19길인근', '노상', 80, '무료', 35.88629636, 128.6112825);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로21길인근', '노상', 30, '무료', 35.88388222, 128.6110091);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로3길인근', '노상', 9, '무료', 35.88713607, 128.6038791);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로9길인근', '노상', 38, '무료', 35.88909849, 128.6143217);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현로서15길인근', '노상', 31, '무료', 35.88659565, 128.6055917);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로26길인근', '노상', 14, '무료', 35.90068702, 128.6066299);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로37길인근', '노상', 17, '무료', 35.9004714, 128.613574);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로50길인근', '노상', 10, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로53길인근', '노상', 37, '무료', 35.89461348, 128.6220753);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로55길인근', '노상', 10, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동북로57길인근', '노상', 39, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동암로7길인근', '노상', 47, '무료', 35.94597857, 128.5544706);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동천교인근', '노상', 19, '무료', 35.93168424, 128.5550631);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('백사벌네거리(남편)', '노상', 56, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('백사벌네거리(북편)', '노상', 23, '무료', 35.89919158, 128.5865678);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('복현로북2길인근', '노상', 14, '무료', 35.89526277, 128.6213799);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('북구청인근', '노상', 39, '유료', 35.88809698, 128.582742);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('북부소방서뒤편', '노상', 24, '무료', 35.87750286, 128.5926647);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('북침산네거리(북편)', '노상', 16, '무료', 35.89347056, 128.5897599);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로10길인근', '노상', 10, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로13길인근', '노상', 3, '무료', 35.89722774, 128.6027042);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로19길인근', '노상', 7, '무료', 35.89104648, 128.6059248);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로8길인근', '노상', 15, '무료', 35.89455585, 128.6088427);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격로9길인근', '노상', 24, '무료', 35.89493084, 128.6042043);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북로13길인근', '노상', 10, '무료', 35.89216791, 128.590725);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북로5길인근', '노상', 134, '무료', 35.89496634, 128.5880098);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('성북로9길인근', '노상', 39, '무료', 35.89145827, 128.5884047);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('시체육회앞', '노상', 59, '유료', 35.88301806, 128.5861564);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천교', '노상', 27, '유료', 35.87980685, 128.6023836);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천교고가도로밑', '노상', 46, '유료', 35.87512466, 128.608594);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천동로(대현동)', '노상', 11, '무료', 35.88441248, 128.6024075);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천동로146길인근', '노상', 12, '무료', 35.88441248, 128.6024075);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신천동로148길인근', '노상', 15, '무료', 35.88441248, 128.6024075);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로10길인근', '노상', 16, '무료', 35.8944331, 128.6010214);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로14길인근', '노상', 10, '무료', 35.89700877, 128.6014397);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로28길인근', '노상', 4, '무료', 35.89104648, 128.6059248);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로32길인근', '노상', 34, '무료', 35.90140838, 128.6065689);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암공원로인근', '노상', 15, '무료', 35.89179162, 128.5957289);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('연암로인근', '노상', 48, '무료', 35.89653618, 128.5950001);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('영송로인근', '노상', 8, '무료', 35.92990667, 128.5449716);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로10길인근', '노상', 13, '무료', 35.88989334, 128.5784575);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로1길인근', '노상', 12, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로1길인근(보성아파트)', '노상', 11, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로3길인근', '노상', 10, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로6길인근', '노상', 18, '무료', 35.88989334, 128.5784575);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로7길인근', '노상', 19, '무료', 35.88867297, 128.5696997);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오봉로인근', '노상', 135, '유료', 35.89867951, 128.5788096);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로3길인근', '노상', 10, '무료', 35.88754215, 128.5781967);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로5길인근', '노상', 28, '무료', 35.88662726, 128.5810034);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로9길인근', '노상', 28, '무료', 35.88802114, 128.581656);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('옥산로인근(북구)', '노상', 25, '무료', 35.88408994, 128.5841447);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로19길인근', '노상', 25, '무료', 35.88623316, 128.580491);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로21길인근', '노상', 12, '무료', 35.88662726, 128.5810034);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로23길인근', '노상', 4, '무료', 35.88797474, 128.5800717);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('원대로25길인근', '노상', 31, '무료', 35.88846132, 128.5819583);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('유통단지로21길인근', '노상', 42, '무료', 35.90868017, 128.6104761);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('중앙대로105길인근', '노상', 17, '무료', 35.88053131, 128.5944814);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('중앙대로118길인근', '노상', 19, '무료', 35.88338799, 128.5987608);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('지하철대구역인근', '노상', 9, '무료', 35.87604689, 128.599077);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('청운로인근', '노상', 7, '무료', 35.89059993, 128.5869916);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로105길인근', '노상', 75, '무료', 35.94402173, 128.5488151);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로75길인근', '노상', 15, '무료', 35.92943275, 128.5461208);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로77길인근', '노상', 73, '무료', 35.93092533, 128.5449343);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로80길인근', '노상', 30, '무료', 35.9303755, 128.5508483);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로86길인근', '노상', 39, '무료', 35.93325493, 128.5518879);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로91길인근', '노상', 17, '무료', 35.93709063, 128.5448659);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠곡중앙대로인근', '노상', 56, '무료', 35.94506549, 128.5511611);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성공구상가앞', '노상', 8, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성교북편', '노상', 10, '무료', 35.87736564, 128.6056874);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성꽃시장', '노상', 23, '유료', 35.87664626, 128.5950555);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로16길인근', '노상', 61, '무료', 35.87750286, 128.5926647);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로2길인근', '노상', 71, '무료', 35.87815117, 128.5854598);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로31길인근', '노상', 6, '무료', 35.8773027, 128.5987311);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성남로인근(고성동)', '노상', 102, '무료', 35.8798762, 128.5828921);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성농협앞', '노상', 30, '유료', 35.8766329, 128.6035994);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성로17길인근', '노상', 32, '무료', 35.88175275, 128.5971708);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장고가도로밑', '노상', 76, '유료', 35.8843224, 128.6006014);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장광로', '노상', 37, '유료', 35.88022495, 128.601689);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장남편', '노상', 39, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장동편', '노상', 16, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장방범초소', '노상', 24, '유료', 35.87915714, 128.6025337);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장북편', '노상', 9, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성시장서편도로', '노상', 30, '유료', 35.87718878, 128.6014334);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('칠성전자상가앞', '노상', 7, '유료', 35.8748935, 128.6070788);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산남로31길인근', '노상', 14, '무료', 35.88869225, 128.5929184);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산남로39길인근', '노상', 18, '무료', 35.8872637, 128.596993);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산남로9길인근', '노상', 10, '무료', 35.8938443, 128.5833779);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('침산로40길인근', '노상', 4, '무료', 35.89371938, 128.5900286);

### private_parking 데이터 확인, 전처리, DB에 입력

In [53]:
private_parking.describe()

,순번,주차구획수,급지구분,주차기본시간,주차기본요금,추가단위시간,추가단위요금,1일주차권요금적용시간,1일주차권적용시간,월정기요금,경도,위도
count,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.0,35.000000,35.000000,35.000000,35.000000
mean,18.000000,20.085714,1.885714,36.000000,911.428571,22.285714,591.428571,0.0,3400.000000,40285.714286,35.896650,128.580910
std,10.246951,12.587041,0.758149,15.941068,322.464251,27.874268,756.295705,0.0,3516.348373,35685.366443,0.021869,0.018708
min,1.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,35.875724,128.549202
25%,9.500000,12.000000,1.000000,30.000000,1000.000000,0.000000,0.000000,0.0,0.000000,0.000000,35.884900,128.565651
50%,18.000000,18.000000,2.000000,30.000000,1000.000000,10.000000,100.000000,0.0,3000.000000,60000.000000,35.889395,128.576499
75%,26.500000,24.000000,2.000000,45.000000,1000.000000,60.000000,1000.000000,0.0,5000.000000,70000.000000,35.895010,128.598088
max,35.000000,62.000000,3.000000,60.000000,2000.000000,60.000000,2000.000000,0.0,10000.000000,100000.000000,35.944010,128.613341

In [54]:
private_parking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   순번           35 non-null     int64
 1   주차장관리번호      35 non-null     object
 2   주차장명         35 non-null     object
 3   주차장 유형       35 non-null     object
 4   소재지지번주소      35 non-null     object
 5   주차구획수        35 non-null     int64
 6   급지구분         35 non-null     int64
 7   부제시행구분       35 non-null     object
 8   운영요일         35 non-null     object
 9   평일운영시작시각     35 non-null     object
 10  평일운영종료시각     35 non-null     object
 11  토요일운영시작시각    35 non-null     object
 12  토요일운영종료시각    35 non-null     object
 13  공휴일운영시작시각    35 non-null     object
 14  공유일운영종료시각    35 non-null     object
 15  요금정보         35 non-null     object
 16  주차기본시간       35 non-null     int64
 17  주차기본요금       35 non-null     int64
 18  추가단위시간       35 non-null     int64
 19  추가단위요금       35 non-null     int64
 20  1일주차권요금적용시간  35 non-null     int64
 21  1일주차권적용시간    35 non-null     int64
 22  월정기요금        35 non-null     int64
 23  결제방법         35 non-null     object
 24  관리기관명        35 non-null     object
 25  경도           35 non-null     float64
 26  위도           35 non-null     float64
dtypes: float64(2), int64(10), object(15)
memory usage: 7.5+ KB

In [55]:
private_parking.head()

,순번,주차장관리번호,주차장명,주차장 유형,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,평일운영시작시각,평일운영종료시각,토요일운영시작시각,토요일운영종료시각,공휴일운영시작시각,공유일운영종료시각,요금정보,주차기본시간,주차기본요금,추가단위시간,추가단위요금,1일주차권요금적용시간,1일주차권적용시간,월정기요금,결제방법,관리기관명,경도,위도
0,1,154-4-000190,광양,노외,대구광역시 북구 노원동3가 892-1,25,2,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,유료,30,500,60,1000,0,5000,80000,현금,대구광역시 북구청,35.892206,128.567963
1,2,154-4-000191,구남,노외,대구광역시 북구 읍내동 1121-1,15,2,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,유료,30,1000,60,2000,0,10000,100000,현금,대구광역시 북구청,35.932928,128.550395
2,3,154-4-000192,구마니 유료주차장,노외,대구광역시 북구 칠성동2가 504,31,1,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,유료,30,1000,10,500,0,0,0,현금,대구광역시 북구청,35.876955,128.596260
3,4,154-4-000198,뉴욕,노외,대구광역시 북구 칠성동1가 155-2,10,1,미시행,평일+토요일+공휴일,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,유료,60,1000,0,0,0,0,0,현금,대구광역시 북구청,35.875724,128.604874
4,5,154-4-000199,대광,노외,대구광역시 북구 노원동1가 205,10,2,미시행,평일+토요일,07:00:00,21:00:00,07:00:00,21:00:00,00:00:00,00:00:00,유료,30,1000,60,1500,0,6000,70000,현금,대구광역시 북구청,35.888803,128.576499

In [56]:
for num in range(35):
    sql = "INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('{0}', '{1}', {2}, '{3}', {4}, {5});".format(
        (private_parking.loc[num, "주차장명"]),
        private_parking.loc[num, "주차장 유형"],
        private_parking.loc[num, "주차구획수"],
        private_parking.loc[num, "요금정보"],
        private_parking.loc[num, "경도"],
        private_parking.loc[num, "위도"])
    print(sql)

INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('광양', '노외', 25, '유료', 35.89220587, 128.5679626);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구남', '노외', 15, '유료', 35.93292828, 128.5503945);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구마니 유료주차장', '노외', 31, '유료', 35.87695476, 128.5962597);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('뉴욕', '노외', 10, '유료', 35.8757242, 128.6048736);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대광', '노외', 10, '유료', 35.88880316, 128.5764994);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대륙', '노외', 24, '유료', 35.8778587, 128.6006471);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대보', '노외', 9, '유료', 35.87688665, 128.5951518);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대진', '노외', 28, '유료', 35.89060717, 128.5648608);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현', '노외', 18, '유료', 35.8800966, 128.6102939);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대흥', '노외', 24, '유료', 35.89769395, 128.5700623);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('도성', '노외', 25, '유료', 35.88553119, 128.5814603);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동서', '노외', 18, '유료', 35.8880973, 128.5744019);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('만평', '노외', 16, '유료', 35.88939489, 128.5671873);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('명성', '노외', 33, '유료', 35.8878395, 128.5922723);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('미니', '노외', 5, '무료', 35.87766279, 128.5985705);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('벧엘', '노외', 13, '유료', 35.88518404, 128.6049054);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('보근', '노외', 7, '유료', 35.87792093, 128.6010181);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('빵빵주차장', '노외', 24, '유료', 35.9349066, 128.5492023);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('송원', '노외', 22, '무료', 35.94325188, 128.5593616);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('스마일', '노외', 52, '유료', 35.8967946, 128.6133411);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('삼성주차장(박문웅)', '노외', 14, '유료', 35.94245761, 128.5589261);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('시민', '노외', 62, '유료', 35.8852831, 128.5857108);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신만평', '노외', 13, '유료', 35.8896644, 128.5643057);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신태경', '노외', 13, '유료', 35.92433357, 128.5986496);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('아진', '노외', 17, '유료', 35.88926955, 128.5675428);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('역후', '노외', 21, '유료', 35.87688665, 128.5951518);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('영덕', '노외', 16, '유료', 35.89181778, 128.5674167);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('우정', '노외', 4, '유료', 35.8920819, 128.5693763);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('청신', '노외', 20, '유료', 35.89122502, 128.5664349);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('태호', '노외', 44, '유료', 35.9440102, 128.5620563);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('통일로', '노외', 10, '유료', 35.8869306, 128.5985068);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('풍국', '노외', 23, '유료', 35.89212138, 128.5648666);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('화성', '노외', 8, '유료', 35.8846168, 128.5975673);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오렌지유료주차장(이옥분)', '노외', 18, '유료', 35.94248568, 128.5589261);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격유료주차장', '노외', 11, '유료', 35.89322494, 128.5976695);

In [57]:
db = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password='aksen5466!',
    db='parking',
    charset='utf8'
)

try:
    cursor = db.cursor()

    for num in range(35):
        sql = "INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('{0}', '{1}', {2}, '{3}', {4}, {5});".format(
            (private_parking.loc[num, "주차장명"]),
            private_parking.loc[num, "주차장 유형"],
            private_parking.loc[num, "주차구획수"],
            private_parking.loc[num, "요금정보"],
            private_parking.loc[num, "경도"],
            private_parking.loc[num, "위도"])
        print(sql)
        cursor.execute(sql)

    db.commit()
finally:
    db.close()

INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('광양', '노외', 25, '유료', 35.89220587, 128.5679626);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구남', '노외', 15, '유료', 35.93292828, 128.5503945);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('구마니 유료주차장', '노외', 31, '유료', 35.87695476, 128.5962597);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('뉴욕', '노외', 10, '유료', 35.8757242, 128.6048736);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대광', '노외', 10, '유료', 35.88880316, 128.5764994);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대륙', '노외', 24, '유료', 35.8778587, 128.6006471);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대보', '노외', 9, '유료', 35.87688665, 128.5951518);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대진', '노외', 28, '유료', 35.89060717, 128.5648608);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대현', '노외', 18, '유료', 35.8800966, 128.6102939);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('대흥', '노외', 24, '유료', 35.89769395, 128.5700623);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('도성', '노외', 25, '유료', 35.88553119, 128.5814603);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('동서', '노외', 18, '유료', 35.8880973, 128.5744019);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('만평', '노외', 16, '유료', 35.88939489, 128.5671873);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('명성', '노외', 33, '유료', 35.8878395, 128.5922723);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('미니', '노외', 5, '무료', 35.87766279, 128.5985705);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('벧엘', '노외', 13, '유료', 35.88518404, 128.6049054);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('보근', '노외', 7, '유료', 35.87792093, 128.6010181);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('빵빵주차장', '노외', 24, '유료', 35.9349066, 128.5492023);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('송원', '노외', 22, '무료', 35.94325188, 128.5593616);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('스마일', '노외', 52, '유료', 35.8967946, 128.6133411);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('삼성주차장(박문웅)', '노외', 14, '유료', 35.94245761, 128.5589261);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('시민', '노외', 62, '유료', 35.8852831, 128.5857108);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신만평', '노외', 13, '유료', 35.8896644, 128.5643057);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('신태경', '노외', 13, '유료', 35.92433357, 128.5986496);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('아진', '노외', 17, '유료', 35.88926955, 128.5675428);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('역후', '노외', 21, '유료', 35.87688665, 128.5951518);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('영덕', '노외', 16, '유료', 35.89181778, 128.5674167);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('우정', '노외', 4, '유료', 35.8920819, 128.5693763);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('청신', '노외', 20, '유료', 35.89122502, 128.5664349);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('태호', '노외', 44, '유료', 35.9440102, 128.5620563);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('통일로', '노외', 10, '유료', 35.8869306, 128.5985068);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('풍국', '노외', 23, '유료', 35.89212138, 128.5648666);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('화성', '노외', 8, '유료', 35.8846168, 128.5975673);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('오렌지유료주차장(이옥분)', '노외', 18, '유료', 35.94248568, 128.5589261);
INSERT INTO parking_site (name, kind, parking_num, fare, lat, lng) VALUES ('산격유료주차장', '노외', 11, '유료', 35.89322494, 128.5976695);